<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.holygunner.discover_meals">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@drawable/icon_green"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_green"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.Custom"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup"
        android:allowBackup="false">

        <activity android:name=".SelectIngredientsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SelectedMealsActivity"
            android:parentActivityName=".SelectIngredientsActivity"/>

        <activity android:name=".MealRecipeActivity"/>

        <activity android:name=".ChosenIngredientsActivity"
                  android:parentActivityName=".SelectIngredientsActivity"/>

        <activity android:name=".FavouriteMealsActivity"
                  android:parentActivityName=".SelectIngredientsActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".SearchMealActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".HelpActivity"/>

    </application>

</manifest>